<style>
    .columnContainer {
        display:flex;
        width:100%;
    }
    .columnContainer > div:first-child {
        margin-left: 2.5%; 
    } 
    .columnData {
        width: 30%;
        text-align: center;
        height: 75vh;
        border-radius: 5px;
        filter: drop-shadow(15px 10px 4px grey);
        margin-left: 1.25%;
        background-color: #CDCDCD;
    }

    .columnTitle {
        background-color: black;
        color:white;
        height: 5%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .columnTitle > p{
        margin: 0;
    }


</style>
<script>

</script>
<div class="columnContainer">
    <div id="columnOne" class="columnData">
        <div class="columnTitle">
            <p>Column 1</p>
        </div>
    </div>
    <div id="columnTwo" class="columnData">
        <div class="columnTitle">
            <p>Column 2</p>
        </div>
        
    </div class="columnData">
    <div id="columnThree" class="columnData">
        <div class="columnTitle">
            <p>Column 3</p>
        </div>
    </div>
</div>